

.header-color {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}

.landing-grid {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mdl-layout{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.mdl-cell{
  color: white;
}

.projects-grid {
  display: flex;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

/* Resume Page css */

.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;

}

/* contact page css */

.contact-body {
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  background-color: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 

}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  
  color: black;
  margin-bottom: 20px;

}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;

}

.contact-form hr {
  font-family: 'Anton', sans-serif;
}


.avatar-img {
height: 250px;
margin-top: 5em;
border-radius: 50%;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  }

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}


 .skill-icons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
 }




/* Styling for Form.js */ 

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: rgba(0,0,0, 0.87);
  opacity: .85;
  margin: 30px auto;
  width: 90%;
  box-shadow: 1px 1px 4px 1px lightgrey;
  border-radius: 10px;
}

.container form{
  width: 100%;
  padding: 10px;
  

}

.container label{
  display: block;
  color:rgb(255,255,255);
  letter-spacing: 0.1rem;
  font-family: 'roboto', 'san-serif';
  font-weight: bold;
  font-size: 1.6rem;
  margin: 8px;
 
}

.container input,
.container textarea{
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  box-shadow: 1px 1px 4px 1px black;
}

.container input:focus,
.container textarea:focus{
  box-shadow: 1px 1px 4px 1px black;
}

.singleItem{
  margin:10px 0;
}

.btn{
  width: 100%;
  text-align: center;
 
}

.btn button{
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'roboto', 'san-serif';
  letter-spacing: 0.2rem;
  padding: 5px 10px;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.5 ease-in-out;
  position: relative; 
  margin-top: 5px;
  border-radius: 4px;
  }

  .btn button:hover{
   border: 1px solid #fefefe;
   background-color: rgb(199,202,199);
   cursor: pointer;
    }

  .msg{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    font-style: italic;
    width: 340px;
    padding: 3px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(5,110,5);
    background-color: #fff;
    border-radius:  5px;
    display: none;
     
  }



  .msgAppear{
    display: block;
  }

  @media screen and (min-width: 664px){
    .container{
      width: 60%;
    
    }
  }

  @media screen and (min-width: 986px){
    .container{
      width: 100%;
    
    }
  }
/* End of Form.js styling */


/* messing around with responsiveness */
@media screen and (max-height: 1600px){
  .contact-body{
    height: 80%;
  
  }}

